div.jumbotron.hero-photography {
  text-align: center;
  background-image: url('../../assets/img/bg-logintrix.png');
  background-size: cover;
  background-position: center;
  padding-top: 100px;
  padding-bottom: 100px;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 100%;
}

h1.hero-title, h2.hero-title, h3.hero-title {
  text-shadow: 0 3px 3px rgba(0,0,0,0.4);
  color: #fff;
}

p.hero-subtitle {
  max-width: 600px;
  margin: 25px auto;
  color: #fff;
}

